.App {
  height: auto;
  min-height: 100vh;
  background-image: url(../assets/tablecloth.jpg);
}

.form {
  margin-top: 3em;
  padding: 2em 3em 1em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider {
  height: 3em
}

.Toolbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recipesList {
  /* margin-top: 2em; */
  background-image: url(../assets/tablecloth.jpg);
}

.About {
  height: auto;
  min-height: 100vh;
  background-image: url(../assets/tablecloth.jpg);
}

.about-text {
  margin-top: 5em;
}

a {
  text-decoration: none;
  color: black;
}