.App {
  height: 100vh;
  box-sizing: border-box;
  background-image: url(tablecloth.jpg);
  background-repeat: repeat;
}

.form {
  margin-top: 10em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-btn {
  width: 12em;
  height: 5em;
  margin: 2em;
}

.input {
  max-width: 20em;
  padding: 1.5em 4em;
  margin: 2em;
  border: 5px dotted;
  border-color: tomato;
  box-shadow: 5px 5px 10px tomato;
}

.Toolbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recipesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(tablecloth.jpg);
}

.About {
    background-image: url(tablecloth.jpg);
    height: 100vh;
}

.about-text {
    background: rgba(255, 255, 255, 0.884);
}
