.App {
  height: 100vh;
  background-image: url(../assets/tablecloth.jpg);
}

.form {
  margin-top: 10em;
  margin-bottom: 2em;
  padding: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.Toolbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recipesList {
  background-image: url(../assets/tablecloth.jpg);
}

.About {
  height: auto;
  min-height: 100vh;
  background-image: url(../assets/tablecloth.jpg);
}

.about-text {
  margin-top: 10em;
}

a {
  text-decoration: none;
}
